In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.preprocessing import LabelEncoder

In [2]:
data = pd.read_csv('./titanic.csv')

In [3]:
data.head(5)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
data.info()          ## in age we have sum NaN data

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.6+ KB

In [5]:
col_to_drop = ["PassengerId","Name","Ticket","Cabin","Embarked"]

In [6]:
data_clean = data.drop(col_to_drop, axis=1)   ##along axis=1 means along the column

In [7]:
data_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 7 columns):
Survived    891 non-null int64
Pclass      891 non-null int64
Sex         891 non-null object
Age         714 non-null float64
SibSp       891 non-null int64
Parch       891 non-null int64
Fare        891 non-null float64
dtypes: float64(2), int64(4), object(1)
memory usage: 48.8+ KB

In [8]:
le = LabelEncoder()
data_clean["Sex"] = le.fit_transform(data_clean["Sex"])   ##encoding char data to int

In [9]:
data_clean.head(5)

   Survived  Pclass  Sex   Age  SibSp  Parch     Fare
0         0       3    1  22.0      1      0   7.2500
1         1       1    0  38.0      1      0  71.2833
2         1       3    0  26.0      0      0   7.9250
3         1       1    0  35.0      1      0  53.1000
4         0       3    1  35.0      0      0   8.0500

In [10]:
data_clean = data_clean.fillna(data_clean["Age"].mean())   ##filling up the NaN data in Age col with mean val

In [11]:
data_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 7 columns):
Survived    891 non-null int64
Pclass      891 non-null int64
Sex         891 non-null int64
Age         891 non-null float64
SibSp       891 non-null int64
Parch       891 non-null int64
Fare        891 non-null float64
dtypes: float64(2), int64(5)
memory usage: 48.8 KB

In [12]:
data_clean.describe()    ##gives imp info abt data like mean atd count of all col

,Survived,Pclass,Sex,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000
mean,0.383838,2.308642,0.647587,29.699118,0.523008,0.381594,32.204208
std,0.486592,0.836071,0.477990,13.002015,1.102743,0.806057,49.693429
min,0.000000,1.000000,0.000000,0.420000,0.000000,0.000000,0.000000
25%,0.000000,2.000000,0.000000,22.000000,0.000000,0.000000,7.910400
50%,0.000000,3.000000,1.000000,29.699118,0.000000,0.000000,14.454200
75%,1.000000,3.000000,1.000000,35.000000,1.000000,0.000000,31.000000
max,1.000000,3.000000,1.000000,80.000000,8.000000,6.000000,512.329200

In [13]:
data_clean.iloc[4]   ## find the data in the 4th row

Survived     0.00
Pclass       3.00
Sex          1.00
Age         35.00
SibSp        0.00
Parch        0.00
Fare         8.05
Name: 4, dtype: float64

In [14]:
input_cols = ['Pclass','Sex','Age','SibSp','Parch','Fare']
output_cols = ['Survived']

X = data_clean[input_cols]          ##giving data in X_train
y = data_clean[output_cols]         ## giving tha y_train data for labels

print(X.shape, y.shape)

(891, 6) (891, 1)

In [15]:
def entropy(label):
    
    counts = np.unique(label,return_counts = True)      ##counting the different labels and their num of occurances
    N = float(label.shape[0])                           ## total no. of label data
    ent = 0.0
    
    for ix in counts[1]:
        p = ix/N                                        ## taking prib of each type of label
        ent += (-1.0*p*np.log2(p))                        ## entropy formula
    
    return ent

In [16]:
def divide_data(X_data,col,fval):                       ## fval is used to check whether the data goes to left or right
    
    X_left = pd.DataFrame([],columns = X_data.columns)
    X_right = pd.DataFrame([],columns = X_data.columns)
    
    for ix in range(X_data.shape[0]):
        
        val = X_data[col].iloc[ix]              ## taking out values of the column for each row onr by one
        if val>fval:
            X_right = X_right.append(X_data.iloc[ix])
            
        else:
            X_left = X_left.append(X_data.iloc[ix])
    
    return X_right,X_left

In [17]:
def info_gain(X_data,col,fval):
    
    right,left = divide_data(X_data,col,fval)
    l = float(left.shape[0]/X_data.shape[0])
    r = float(right.shape[0]/X_data.shape[0])
    
    if l==0 or r==0:
        return -1000000
    
    return entropy(X_data.Survived) - (l*entropy(left.Survived) + r*entropy(right.Survived))

In [18]:
for ix in X.columns:
    print(ix)
    print(info_gain(data_clean,ix,data_clean[ix].mean()))   ##taking infogain for each col in data

Pclass
0.07579362743608165
Sex
0.2176601066606142
Age
0.0008836151229467681
SibSp
0.009584541813400071
Parch
0.015380754493137916
Fare
0.042140692838995464

In [19]:
class DecisionTree():
    
    def __init__(self, depth=0, max_depth=5):
        
        self.left = None
        self.right = None
        self.col = None
        self.fval = None
        self.depth = depth
        self.max_depth = max_depth
        self.target = None
        
    def train(self, X_train):
        
        print(self.depth)
        features = ['Pclass','Sex','Age','SibSp','Parch','Fare']
        inf_gain = []
        
        for ix in features:
            inf_gain.append(info_gain(X_train,ix,data_clean[ix].mean()))
            
        self.col = features[np.argmax(inf_gain)]
        self.fval = X_train[self.col].mean()
        
        data_left, data_right = divide_data(X_train,self.col,self.fval)
        data_left = data_left.reset_index(drop=True)
        data_right = data_right.reset_index(drop=True)
        
        if data_left.shape[0]==0 or data_right.shape[0]==0:
            if X_train.Survived.mean()>0.5:
                self.target = 'Survived'
            else:
                self.target = 'Dead'
            return
        
        if self.depth>=self.max_depth:
            if X_train.Survived.mean()>0.5:
                self.target = 'Survived'
            else:
                self.target = 'Dead'
            return
        
        self.left = DecisionTree(self.depth+1,self.max_depth)
        self.left.train(data_left)
        
        self.right = DecisionTree(self.depth+1,self.max_depth)
        self.right.train(data_right)
        
        if X_train.Survived.mean() > 0.5:
            self.target = "Survive"
        else:
            self.target = "Dead"
        return
    
    def predict(self, test):
        if test[self.col] < self.fval:
            if self.right == None:
                return self.target
            return self.right.predict(test)
        
        if self.left == None:
            return self.target
        return self.left.predict(test)

In [20]:
split = int(0.80*data_clean.shape[0])

train_data = data_clean[:split]
val_data = data_clean[split:]
val_data = val_data.reset_index(drop=True)

In [22]:
dt = DecisionTree()
dt.train(train_data)

0
1
2
3
4
5
5

AttributeError: 'DataFrame' object has no attribute 'survived'

In [197]:
print(dt.col,dt.fval)

Sex 0.6404494382022472

In [198]:
print (dt.left.col, dt.left.fval)
print (dt.right.col, dt.right.fval)

Pclass 2.366228070175439
Pclass 2.1875

In [199]:
y_pred = []
for ix in range(val_data.shape[0]):
    y_pred.append(dt.predict(val_data.iloc[ix]))

In [200]:
print(y_pred)

['Dead', 'Dead', 'Dead', 'Dead', 'Survived', 'Survived', 'Dead', 'Dead', 'Survived', 'Dead', 'Dead', 'Dead', 'Dead', 'Dead', 'Survived', 'Survived', 'Dead', 'Survived', 'Survived', 'Dead', 'Dead', 'Dead', 'Dead', 'Dead', 'Dead', 'Dead', 'Dead', 'Dead', 'Dead', 'Dead', 'Survived', 'Dead', 'Dead', 'Dead', 'Dead', 'Survived', 'Dead', 'Dead', 'Survived', 'Dead', 'Dead', 'Dead', 'Survived', 'Survived', 'Dead', 'Dead', 'Dead', 'Survived', 'Dead', 'Dead', 'Dead', 'Survived', 'Dead', 'Survived', 'Dead', 'Survived', 'Dead', 'Dead', 'Dead', 'Dead', 'Survived', 'Dead', 'Survived', 'Dead', 'Dead', 'Survived', 'Dead', 'Survived', 'Survived', 'Survived', 'Dead', 'Dead', 'Dead', 'Dead', 'Survived', 'Dead', 'Dead', 'Dead', 'Dead', 'Dead', 'Dead', 'Dead', 'Dead', 'Dead', 'Survived', 'Survived', 'Dead', 'Survived', 'Dead', 'Survived', 'Dead', 'Dead', 'Dead', 'Dead', 'Dead', 'Survived', 'Dead', 'Survived', 'Dead', 'Dead', 'Dead', 'Dead', 'Dead', 'Dead', 'Survived', 'Dead', 'Dead', 'Dead', 'Survived', 'Dead', 'Dead', 'Survived', 'Dead', 'Dead', 'Dead', 'Survived', 'Dead', 'Survived', 'Survived', 'Survived', 'Dead', 'Dead', 'Dead', 'Survived', 'Dead', 'Dead', 'Dead', 'Dead', 'Dead', 'Dead', 'Survived', 'Dead', 'Dead', 'Dead', 'Dead', 'Dead', 'Survived', 'Survived', 'Dead', 'Dead', 'Survived', 'Survived', 'Survived', 'Survived', 'Survived', 'Dead', 'Survived', 'Dead', 'Dead', 'Dead', 'Survived', 'Dead', 'Dead', 'Survived', 'Survived', 'Dead', 'Dead', 'Dead', 'Dead', 'Survived', 'Dead', 'Dead', 'Survived', 'Survived', 'Dead', 'Dead', 'Dead', 'Survived', 'Survived', 'Dead', 'Survived', 'Dead', 'Dead', 'Dead', 'Dead', 'Survived', 'Survived', 'Dead', 'Dead']

In [201]:
y_actual = val_data[output_cols]

In [202]:
le = LabelEncoder()
y_pred = le.fit_transform(y_pred).reshape(-1,1)

In [203]:
y_actual = np.array(y_actual)

In [204]:
np.sum(y_actual == y_pred) / y_pred.shape[0]

0.8379888268156425